@use './color' as *;

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: 'mo-';

// Then import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// body {
// 	height: 200vh;
// }

.section-title {
	text-align: center;
	text-transform: uppercase;
}

nav {
	.navbar-brand {
		font-weight: bold;
	}
	text-transform: uppercase;
	font-weight: bold;

	.nav-link,
	.navbar-nav,
	.navbar-nav .nav-link.show,
	.navbar-brand {
		color: $black;
	}

	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .show > .nav-link,
	.navbar-brand:hover,
	.navbar-brand:focus {
		color: $primary-color;
	}
}

header {
	position: relative;
	height: 45vh;
	.header-img {
		height: 200px;
		width: 250px;
	}
	.first {
		position: absolute;
		left: 5%;
		top: 20%;
	}
	.second {
		position: absolute;
		top: 40%;
		left: -5%;
	}
	.third {
		position: absolute;
		right: 5%;
		top: 20%;
	}
	.fourth {
		position: absolute;
		top: 40%;
		right: -5%;
	}
}

.aboutme {
	p {
		padding: 50px;
	}
}

// .exhibition {
// 	height: 75vh;
// }
