@use './color' as *;

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: 'mo-';

// Then import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 56px;
}

// body {
// 	height: 200vh;
// }

.section-title {
	text-align: center;
	text-transform: uppercase;
}

nav {
	.navbar-brand {
		font-weight: bold;
	}
	text-transform: uppercase;
	font-weight: bold;

	.nav-link,
	.navbar-nav,
	.navbar-nav .nav-link.show,
	.navbar-brand {
		color: $black;
	}

	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .show > .nav-link,
	.navbar-brand:hover,
	.navbar-brand:focus {
		color: $primary-color;
	}
}

header {
	position: relative;
	height: 20vh;
	.header-img {
		display: none;
	}
}

.aboutme {
	p {
		padding: 50px;
	}
}

.card-link {
	text-decoration: none;
}

.card-img-top {
	height: 300px;
}

.gallery {
	.gallery-img {
		height: 200px;
		width: 250px;
	}
}

@media (min-width: 576px) {
	header {
		height: 25vh;
		.header-img {
			display: block;
			height: 70px;
			width: 120px;
			.first {
				position: absolute;
				top: 25%;
				left: 2%;
			}
			.second {
				position: absolute;
				top: 35%;
				left: -3%;
			}
			.third {
				position: absolute;
				top: 25%;
				right: 2%;
			}
			.fourth {
				position: absolute;
				top: 35%;
				right: -3%;
			}
		}
	}
}

.contact {
	.bi {
		cursor: pointer;
		transition: color .3s;
	}

	.bi:hover {
		color: #900;
	}
}

@media (min-width: 768px) {
	header {
		height: 30vh;
		.header-img {
			height: 100px;
			width: 150px;
			.first {
				top: 23%;
				left: 8%;
			}
			.second {
				top: 38%;
				left: 0%;
			}
			.third {
				top: 23%;
				right: 8%;
			}
			.fourth {
				top: 38%;
				right: 0%;
			}
		}
	}
}
@media (min-width: 992px) {
	header {
		height: 35vh;
		.header-img {
			height: 150px;
			width: 200px;
			.first {
				left: 10%;
				top: 20%;
			}
			.second {
				top: 40%;
				left: 0%;
			}
			.third {
				right: 10%;
				top: 20%;
			}
			.fourth {
				top: 40%;
				right: 0%;
			}
		}
	}
}
@media (min-width: 1200px) {
	header {
		height: 40vh;
		.header-img {
			height: 200px;
			width: 250px;
			.first {
				left: 10%;
				top: 20%;
			}
			.second {
				top: 40%;
				left: 0%;
			}
			.third {
				right: 10%;
				top: 20%;
			}
			.fourth {
				top: 40%;
				right: 0%;
			}
		}
	}
}
