@use './color' as *;

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: 'mo-';

// Then import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 56px;
}

// body {
// 	height: 200vh;
// }

.section-title {
	text-align: center;
	text-transform: uppercase;
}

nav {
	.navbar-brand {
		font-weight: bold;
	}
	text-transform: uppercase;
	font-weight: bold;

	.nav-link,
	.navbar-nav,
	.navbar-nav .nav-link.show,
	.navbar-brand {
		color: $black;
	}

	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .show > .nav-link,
	.navbar-brand:hover,
	.navbar-brand:focus {
		color: $primary-color;
	}
}

header {
	position: relative;
	height: 45vh;
	.header-img {
		height: 200px;
		width: 250px;
	}
	.first {
		position: absolute;
		left: 5%;
		top: 20%;
	}
	.second {
		position: absolute;
		top: 40%;
		left: -5%;
	}
	.third {
		position: absolute;
		right: 5%;
		top: 20%;
	}
	.fourth {
		position: absolute;
		top: 40%;
		right: -5%;
	}
}

.aboutme {
	p {
		padding: 50px;
	}
}

.card-img-top {
	max-height: 300px;
}

// .exhibition {
// 	// .card-group {
// 	// 	.card {
// 	// 		padding: 10px 0 10 px 0;
// 	// 	}

// 	// 	.card-body {
// 	// 		position: relative;
// 	// 		min-height: 150px;
// 	// 		.btn-primary {
				
// 	// 		}
// 	// 	}
// 	// }
// }

.gallery {
	.gallery-img {
		height: 200px;
		width: 250px;
	}
}

@media (max-width: 768px) {
	header {
		.header-img {
			display: none;
		}
	}
}
@media (max-width: 992px) {
	html {
		scroll-padding-top: 52px;
	}
	header {
		.header-img {
			height: 100px;
			width: 150px;
		}
		.first {
			left: 0%;
		}
		.second {
			top: 30%;
			left: -10%;
		}
		.third {
			right: 0%;
		}
		.fourth {
			top: 30%;
			right: -10%;
		}
	}
}
@media (max-width: 1200px) {
	header {
		.header-img {
			height: 150px;
			width: 200px;
		}
		.second {
			top: 35%;
		}
		.fourth {
			top: 35%;
		}
	}
}
