$main-color: #ffd4e0;
$secondary-color: #e7c6ff;
$pure-white: #99535b;
$light-white: #eee;
$dark: #2e2e2e;
$red: #d62525;
$section-color: #eee;

$light-blue-gradient: linear-gradient(45deg, #090909, #2c2b2b);